@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Merienda+One&family=Staatliches&display=swap');

.row
  {
    margin-left: 10%;
    margin-top: 3%;
  }
  #bloodCards
  {
    margin-right: 5%;
    margin-bottom: 4%;
    width: 40%;
    border-radius: 15px;
    padding: 0px;
    transition: transform .2s;
    box-shadow: 5px 5px 25px 8px rgb(147, 158, 147);
  }
  #bloodCards:hover
  {
    transform: scale(1.05);
    cursor: pointer;
  }
.card-block
{
  margin-top: -33%;
  margin-left: 40%;
  margin-bottom: 6%;
}
.text{
  font-family: serif;
  font-size: larger;
  font-weight: bolder;
}
#searchtxt
{
  width: 20%;
  float: right;
}
.img-block{
    width: 40%;
    height: 180px;
    border-radius: 15px;
    background-color: white;
}
.circle{
    background-color: rgb(22, 121, 72);
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    margin-top: 20%;
    margin-bottom: auto;
    border-radius: 50%;
    width: 73%;
    height: 80%;
}
.bloodimg
{
    margin-left: 13%;
    margin-top: 8%;
}
.heading-text
{
    font-weight: bolder;
    font-size: 40px;
    margin-top: 1%;
    color: darkgreen;
    font-family: 'Aladin', cursive;
    letter-spacing: 1px;
    margin-left: 45%;
}
.deletebtn
{
border: none;
border-radius: 15px;
color: white;
padding: 5px 20px 5px 20px;
margin-top: 5%;
margin-bottom: 1%;
background-color: #13534e;
}
.deletebtn:hover{
cursor: pointer;
}


div {
  margin-bottom: 0px;
}


input[type="text"] {
  width: 20%;
  padding: 10px;
  margin-left: 38%;

  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px 0;
  font-size: 18px;
}


li.matched {
  background-color: yellow;
  font-weight: bold;
}
.panel-body{
  margin-left: 1%;
  margin-right: 2%;
}
thead{
  background-color: rgb(85, 14, 14);
  padding: 10px 50px 10px 50px;
}
table, td{
  text-align: center;
  align-items: center;
  vertical-align: middle;
}
table, td, tr{
  border: 1px solid rgb(163, 161, 161);
  font-family: serif;
  font-weight: bold;
  font-style: normal;
  font-size: large;
}

th{
  text-transform: uppercase;
  color: rgb(21, 20, 20);
  font-family: Helvetica;
  font-style: italic;
  font-size: normal;
  padding: 10px 10px 10px 10px;
  border: 1px solid rgb(11, 10, 10);
}
td{
  text-transform:none;
  padding: 10px;
}
.custom-input {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 2px;
}


.custom-button {
  background-color:  #13534e;
  color: #fff; 
  padding: 8px 16px; 
  border: none; 
  cursor: pointer; 
  border-radius: 2px; 
  font-size: 16px; 
}

